In [1]:
# https://pythonexamples.org/pandas-examples/
import numpy as np
import pandas as pd

In [2]:
# Pandas series example
s = pd.Series([1,3,5,12,16,18])
print(s)

0     1
1     3
2     5
3    12
4    16
5    18
dtype: int64

In [3]:
s = pd.Series([1,3,4,12,np.nan,16,18])
print(s)

0     1.0
1     3.0
2     4.0
3    12.0
4     NaN
5    16.0
6    18.0
dtype: float64

In [8]:
# string -> object
s = pd.Series(['python',1,3,np.nan,16,18])
print(s[0])
print(s[3])
print(s)

python
nan
0    python
1         1
2         3
3       NaN
4        16
5        18
dtype: object

In [10]:
'''
this is multiline comments
'''
print('Hello')

Hello

In [11]:
# DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [1]:
import pandas as pd
# DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
df_marks = pd.DataFrame(
[['Somu',68,96,87,64],
['Kirt',78,43,23,23],
['Anoly',67,98,78,32],
['Tom',76,87,87,90]],
columns = ['names','physics','chemstry','algebra','calculus'] 
)
print(df_marks)

   names  physics  chemstry  algebra  calculus
0   Somu       68        96       87        64
1   Kirt       78        43       23        23
2  Anoly       67        98       78        32
3    Tom       76        87       87        90

In [3]:
# Check if the dataframe is empty
df = pd.DataFrame()
isempty = df.empty
print(isempty)

True

In [4]:
isempty = df_marks.empty
print(isempty)

False

In [5]:
# Create dataframe from dictionary
# Use Dataframe convert the dictionary to dataframe
import pandas as pd
import numpy as np
mydictionary = {
    'names': ['Somu','Kirt','Amol','Lin'],
    'pysics': [68,75,87,95],
    'chemistry':[85,87,98,67],
    'algebra':[78,88,98,100],    
}
df_mark = pd.DataFrame (mydictionary)
print(df_mark)

  names  pysics  chemistry  algebra
0  Somu      68         85       78
1  Kirt      75         87       88
2  Amol      87         98       98
3   Lin      95         67      100

In [7]:
# Read in csv
df = pd.read_csv('data.csv')
print(df)

   name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87

In [1]:
# Get Shape of Pandas DataFrame
import pandas as pd
# DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
df_marks = pd.DataFrame(
[['Somu',68,96,87,64],
['Kirt',78,43,23,23],
['Anoly',67,98,78,32],
['Tom',76,87,87,90]],
columns = ['names','physics','chemstry','algebra','calculus'] 
)
# n\ change to next line
print('The data frame is: \n',df)

NameError: name 'df' is not defined

In [2]:
shape = df.shape
print(df)
print(shape)
print(shape[0])
print(shape[1])

NameError: name 'df' is not defined

In [3]:
# Concatenate DataFrames – pandas.concat()
df1 = pd.read_csv('data.csv')
print(df1)
df2 =pd.DataFrame ([['Gerge',87,87,78],
                   ['Ann',89,87,67]],
                   columns = ['name','physics','chemistry','algebra'])
print(df2)

   name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87
    name  physics  chemistry  algebra
0  Gerge       87         87       78
1    Ann       89         87       67

In [4]:
df = [df1,df2]
df = pd.concat(df,sort = False)
print(df)

    name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
0  Gerge       87         87       78
1    Ann       89         87       67

In [5]:
# \n 换行
print("df1\n------\n",df1)
print("df2\n------\n",df2)
print("df\n------\n",df)

df1
------
    name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87
df2
------
     name  physics  chemistry  algebra
0  Gerge       87         87       78
1    Ann       89         87       67
df
------
     name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
0  Gerge       87         87       78
1    Ann       89         87       67

In [6]:
# Reset index
df.reset_index(drop = True, inplace = True)
print("df\n------\n",df)

df
------
     name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
4  Gerge       87         87       78
5    Ann       89         87       67

In [14]:
# Append function 
# Add to the end of the column
df_combined= df1.append(df2,ignore_index = True, sort = False)
print(df1)
print(df2)
print(df_append)

   name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87
    name  physics  chemistry  algebra
0  Gerge       87         87       78
1    Ann       89         87       67
    name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
4  Gerge       87         87       78
5    Ann       89         87       67

In [17]:
# Dataframe queary
# Query DataFrame with Condition on Single Column
Query_1 = df_combined.query('physics>80')
print(Query_1)

    name  physics  chemistry  algebra
4  Gerge       87         87       78
5    Ann       89         87       67

In [18]:
# Query with two conditions
Query_2 = df_combined.query('physics>80 and algebra>70')
print(Query_2)

    name  physics  chemistry  algebra
4  Gerge       87         87       78