In [24]:
# Make browser open this link: https://pythonexamples.org/pandas-examples/

import webbrowser
url = 'https://pythonexamples.org/pandas-examples/'
webbrowser.register('chrome',
    None,
    webbrowser.BackgroundBrowser("C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe"))
webbrowser.get('chrome').open(url, new = 2)

True

In [ ]:
import numpy as np
import pandas as pd

In [2]:
# Pandas series example
s = pd.Series([1,3,5,12,16,18])
print(s)

0     1
1     3
2     5
3    12
4    16
5    18
dtype: int64

In [3]:
s = pd.Series([1,3,4,12,np.nan,16,18])
print(s)

0     1.0
1     3.0
2     4.0
3    12.0
4     NaN
5    16.0
6    18.0
dtype: float64

In [8]:
# string -> object
s = pd.Series(['python',1,3,np.nan,16,18])
print(s[0])
print(s[3])
print(s)

python
nan
0    python
1         1
2         3
3       NaN
4        16
5        18
dtype: object

In [10]:
'''
this is multiline comments
'''
print('Hello')

Hello

In [11]:
# DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [1]:
import pandas as pd
# DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
df_marks = pd.DataFrame(
[['Somu',68,96,87,64],
['Kirt',78,43,23,23],
['Anoly',67,98,78,32],
['Tom',76,87,87,90]],
columns = ['names','physics','chemstry','algebra','calculus'] 
)
print(df_marks)

   names  physics  chemstry  algebra  calculus
0   Somu       68        96       87        64
1   Kirt       78        43       23        23
2  Anoly       67        98       78        32
3    Tom       76        87       87        90

In [3]:
# Check if the dataframe is empty
df = pd.DataFrame()
isempty = df.empty
print(isempty)

True

In [4]:
isempty = df_marks.empty
print(isempty)

False

In [5]:
# Create dataframe from dictionary
# Use Dataframe convert the dictionary to dataframe
import pandas as pd
import numpy as np
mydictionary = {
    'names': ['Somu','Kirt','Amol','Lin'],
    'pysics': [68,75,87,95],
    'chemistry':[85,87,98,67],
    'algebra':[78,88,98,100],    
}
df_mark = pd.DataFrame (mydictionary)
print(df_mark)

  names  pysics  chemistry  algebra
0  Somu      68         85       78
1  Kirt      75         87       88
2  Amol      87         98       98
3   Lin      95         67      100

In [7]:
# Read in csv
df = pd.read_csv('data.csv')
print(df)

   name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87

In [43]:
# Get Shape of Pandas DataFrame
import pandas as pd
# DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
df_marks = pd.DataFrame(
[['Somu',68,96,87,64],
['Kirt',78,43,23,23],
['Anoly',67,98,78,32],
['Tom',76,87,87,90]],
columns = ['names','physics','chemstry','algebra','calculus'] 
)
# n\ change to next line
print('The data frame is: \n',df)

The data frame is:
    a  b
0  2  2
1  4  0

In [44]:
shape = df.shape
print(df)
print(shape)
print(shape[0])
print(shape[1])

   a  b
0  2  2
1  4  0
(2, 2)
2
2

In [3]:
# Concatenate DataFrames – pandas.concat()
df1 = pd.read_csv('data.csv')
print(df1)
df2 =pd.DataFrame ([['Gerge',87,87,78],
                   ['Ann',89,87,67]],
                   columns = ['name','physics','chemistry','algebra'])
print(df2)

   name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87
    name  physics  chemistry  algebra
0  Gerge       87         87       78
1    Ann       89         87       67

In [4]:
df = [df1,df2]
df = pd.concat(df,sort = False)
print(df)

    name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
0  Gerge       87         87       78
1    Ann       89         87       67

In [5]:
# \n 换行
print("df1\n------\n",df1)
print("df2\n------\n",df2)
print("df\n------\n",df)

df1
------
    name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87
df2
------
     name  physics  chemistry  algebra
0  Gerge       87         87       78
1    Ann       89         87       67
df
------
     name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
0  Gerge       87         87       78
1    Ann       89         87       67

In [6]:
# Reset index
# Use inplace to change the data directly in df
df.reset_index(drop = True, inplace = True)
print("df\n------\n",df)

df
------
     name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
4  Gerge       87         87       78
5    Ann       89         87       67

In [14]:
# Append function 
# Add to the end of the column
df_combined= df1.append(df2,ignore_index = True, sort = False)
print(df1)
print(df2)
print(df_append)

   name  physics  chemistry  algebra
0  Somu       68         45       56
1  Kiku       64         56       76
2  Almo       56         35       76
3  Lini       35         67       87
    name  physics  chemistry  algebra
0  Gerge       87         87       78
1    Ann       89         87       67
    name  physics  chemistry  algebra
0   Somu       68         45       56
1   Kiku       64         56       76
2   Almo       56         35       76
3   Lini       35         67       87
4  Gerge       87         87       78
5    Ann       89         87       67

In [17]:
# Dataframe queary
# Query DataFrame with Condition on Single Column
Query_1 = df_combined.query('physics>80')
print(Query_1)

    name  physics  chemistry  algebra
4  Gerge       87         87       78
5    Ann       89         87       67

In [18]:
# Query with two conditions
Query_2 = df_combined.query('physics>80 and algebra>70')
print(Query_2)

    name  physics  chemistry  algebra
4  Gerge       87         87       78

In [9]:
# Query using or, and make sure the index doesn't change
import pandas as pd
df = pd.DataFrame(
    [[21, 72, 67],
    [23, 78, 62],
    [32, 74, 56],
    [73, 88, 67],
    [32, 74, 56],
    [43, 78, 69],
    [32, 74, 54],
    [52, 54, 76]],
    columns=['a', 'b', 'c'])
#print(df)
selected  = df.query('a>50 or c>60')
print(selected)

    a   b   c
0  21  72  67
1  23  78  62
3  73  88  67
5  43  78  69
7  52  54  76

In [10]:
df_3 = df.query('a>50 and c>60')
print(df_3)

    a   b   c
3  73  88  67
7  52  54  76

In [14]:
'''
When inplace = True , the data is modified in place, which means it will return nothing and the dataframe is now updated. 
When inplace = False , which is the default, then the operation is performed and it returns a copy of the object. 
You then need to save it to something.
'''

df.query('a>50 and c>60',inplace = True)
print(df)

    a   b   c
3  73  88  67
7  52  54  76

In [28]:
# Find values in a dataframe using isin(), which will return T/F
df = pd.DataFrame(
    [[21, 72, 67],
    [23, 78, 62],
    [32, 74, 56],
    [73, 88, 67],
    [32, 74, 56],
    [43, 78, 69],
    [32, 74, 54],
    [52, 54, 76]],
    columns=['a', 'b', 'c'])
# find the scores from 80 to 90
Result = df.isin(range(80,90))
print(Result)

       a      b      c
0  False  False  False
1  False  False  False
2  False  False  False
3  False   True  False
4  False  False  False
5  False  False  False
6  False  False  False
7  False  False  False

In [41]:
# Find multiple values using series
df_4 = pd.DataFrame(
    [[21, 72, 67],
    [23, 78, 62],
    [32, 74, 56],
    [73, 88, 67],
    [32, 74, 56],
    [43, 78, 69],
    [32, 74, 54],
    [52, 54, 76]],
    columns=['a', 'b', 'c'])
target = pd.Series([72,78,67])
target2 = [32,74,78]
Result2 = df_4.isin(target)
Result3 = df_4.isin(target2)

# Series have sequence. Arrays don't have that. Make sure to aware the difference
print(Result2)
print(Result3)

       a      b      c
0  False   True  False
1  False   True  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False  False
7  False  False  False
       a      b      c
0  False  False  False
1  False   True  False
2   True   True  False
3  False  False  False
4   True   True  False
5  False   True  False
6   True   True  False
7  False  False  False

In [31]:
import pandas as pd

#initialize dataframe
df = pd.DataFrame({'a': [2, 4], 'b': [2, 0]})

#series
s = pd.Series([2, 0])

#check if the values of df are in the range(1,6)
out = df.isin(s)

print('DataFrame\n-----------\n',df)
print('\nSeries\n-----------\n',s)
print('\nDataFrame.isin(series)\n-----------\n',out)

DataFrame
-----------
    a  b
0  2  2
1  4  0

Series
-----------
 0    2
1    0
dtype: int64

DataFrame.isin(series)
-----------
        a     b
0   True  True
1  False  True

In [42]:
# Compare data frame
targetFrame = pd.DataFrame(
    [[21, 72, 67],
    [23, 75, 62],
    [32, 73, 56],
    [73, 86, 67],
    [32, 74, 56],
    [43, 75, 69],
    [32, 74, 54],
    [52, 53, 76]],
    columns=['a', 'b', 'c'])

Result4 = df_4.isin(targetFrame)

print(Result4)

      a      b     c
0  True   True  True
1  True  False  True
2  True  False  True
3  True  False  True
4  True   True  True
5  True  False  True
6  True   True  True
7  True  False  True

In [45]:
# Data Frame with different number of columns can also do the comparison
targetFrame = pd.DataFrame(
    [[21, 72],
    [23, 75],
    [32, 73],
    [73, 86],
    [32, 74],
    [43, 75],
    [32, 74],
    [52, 53]],
    columns=['a', 'b'])

Result4 = df_4.isin(targetFrame)

print(Result4)

      a      b      c
0  True   True  False
1  True  False  False
2  True  False  False
3  True  False  False
4  True   True  False
5  True  False  False
6  True   True  False
7  True  False  False

In [12]:
# Dataframe calculation
import pandas as pd
# DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
Final_Scores = pd.DataFrame(
[['Somu',68,96,87,64],
['Kirt',78,43,23,23],
['Anoly',67,98,78,32],
['Tom',76,87,87,90]],
columns = ['names','physics','chemstry','algebra','calculus'] 
)

In [13]:
AveScore = Final_Scores.mean()
print('\nMean\n------')
print(AveScore)

Mean
------
physics     72.25
chemstry    81.00
algebra     68.75
calculus    52.25
dtype: float64

In [20]:
# Default is the average by column
AveScore_ByColumn = Final_Scores.mean(axis = 0)
print(AveScore_ByColumn)

physics     72.25
chemstry    81.00
algebra     68.75
calculus    52.25
dtype: float64

In [21]:
# Can calculate average by index
AveScore_ByIndex = Final_Scores.mean(axis = 1)
print(AveScore_ByIndex)

0    78.75
1    41.75
2    68.75
3    85.00
dtype: float64

In [22]:
Ave_All = Final_Scores.mean().mean()
print(Ave_All)

68.5625

In [24]:
Max_Score_ByRow = Final_Scores.max(axis = 0)
print(Final_Scores)
print('\n-------')
print(Max_Score_ByRow)

   names  physics  chemstry  algebra  calculus
0   Somu       68        96       87        64
1   Kirt       78        43       23        23
2  Anoly       67        98       78        32
3    Tom       76        87       87        90

-------
names       Tom
physics      78
chemstry     98
algebra      87
calculus     90
dtype: object

In [25]:
Max_Score_ByColumn = Final_Scores.max(axis = 1)
print(Final_Scores)
print('\n-------')
print(Max_Score_ByColumn)

   names  physics  chemstry  algebra  calculus
0   Somu       68        96       87        64
1   Kirt       78        43       23        23
2  Anoly       67        98       78        32
3    Tom       76        87       87        90

-------
0    96
1    78
2    98
3    90
dtype: int64

In [29]:
# Select dataframe columns
'''
#select column using dot operator
a = myDataframe.column_name
#select column using square brackets
a = myDataframe[coulumn_name]
'''
Scores_physics = Final_Scores['physics']
print(Scores_physics)
Scores_chemstry = Final_Scores.chemstry
print(Scores_chemstry)

0    68
1    78
2    67
3    76
Name: physics, dtype: int64
0    96
1    43
2    98
3    87
Name: chemstry, dtype: int64

In [32]:
# Get Column names using DataFrame.columns
ColNames = Final_Scores.columns
print(ColNames)

Index(['names', 'physics', 'chemstry', 'algebra', 'calculus'], dtype='object')

In [33]:
# Column Rename
New_Names = ['name', 'physics', 'biology', 'geometry', 'calculus']
Final_Scores.columns = New_Names
print(Final_Scores)

    name  physics  biology  geometry  calculus
0   Somu       68       96        87        64
1   Kirt       78       43        23        23
2  Anoly       67       98        78        32
3    Tom       76       87        87        90

In [37]:
Final_Scores = Final_Scores.rename(columns = {'physics':'biology'})
print(Final_Scores)

    name  biology  biology  geometry  calculus
0   Somu       68       96        87        64
1   Kirt       78       43        23        23
2  Anoly       67       98        78        32
3    Tom       76       87        87        90

In [ ]:
# Test